<div class="app-header header-shadow">
    {{> logo }}
    <div class="app-header__content">
        <div class="app-header-left">
            {{> header-left }}
        </div>
        <div class="app-header-right">
            {{> header-right }}
        </div>
    </div>
</div>