// Main Base

.app-main {
  flex: 1;
  display: flex;
  z-index: 8;
  position: relative;

  .app-main__outer {
    flex: 1;
    flex-direction: column;
    display: flex;
    z-index: 12;
  }

  .app-main__inner {
    padding: 24px 32px 0;   // Figma desktop: py-24px px-32px
    flex: 1;
  }
}

// Themes

@import "themes/main-white";
@import "themes/main-gray";
//@import "themes/main-inverted-blue";
//@import "themes/main-inverted-black";
