<div class="page-header app-page-header">
    <div class="page-header__heading">
        <div class="page-header__title-group">
            <h4 class="page-header__title">{{{ htmlWebpackPlugin.options.title }}}</h4>
        </div>
    </div>
    <ol class="page-header__breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><span>{{{ htmlWebpackPlugin.options.title }}}</span></li>
    </ol>
</div>
